<?xml version="1.0"?>
<!DOCTYPE Web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/Web-app_2_3.dtd">
<Web-app>
	<display-name>The Foundation for Afforable Education</display-name>
	
	<description>Website for The Foundation for Afforable Education</description>
	
	<servlet>
		<servlet-name>volunteerData</servlet-name>
		<description>Processes submitted volunteer data.</description>
		<servlet-class>volunteerData</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>volunteerData</servlet-name>
		<url-pattern>/processVolunteerData</url-pattern>
	</servlet-mapping>
	
</Web-app>